

@font-face {
    font-family: 'Futura';
    src: url('Futura.ttc');
 }

/* top header things */

#header {
    z-index: -1; 
    background-color: #ffff22;
    position: fixed;
    font-family: "Futura";
    top: 0;
    left: 0; 
    width: 100%; 
    height: 8%; 
    padding: 5%; 
}

#page-title {
    color: black; 
    font-size: 30px; 
}

/* top navigation links */

#links-bar {
    width: 50%; 
    display: flex;
    justify-content: space-between;
} 

.bar-link {
    color: blue; 
}

.bar-link:hover {
    color: red; 
}

/* logging in things */

#login-box {
    z-index: 0; 
    background-color: yellow;
    color: black; 
    position: fixed; 
    top: 0;
    right: 0; 
    padding: 5%; 
    width: 20%; 
    height: 8%; 
    display: flex;
    align-items: center;
}

#login-cover {
    z-index: 1; 
    background-color: yellow;
    color: black; 
    position: fixed; 
    top: 0;
    right: 0; 
    padding: 5%; 
    width: 20%; 
    height: 8%; 
    display: flex;
    align-items: center;
}

#login-form {
    font-family: "Futura";
}

/* text container things */

#bottom-container {
    z-index: 0; 
    height: 80%; 
    position: fixed;
    bottom: 0; 
    left: 0; 
    width: 100%;
    background-color: blue;
} 

#text-container {
    z-index: 1;
    color: white; 
    position: absolute; 
    left: 0; 
    padding-top: 2%;
    height: 85%; 
    width: 60%;
    overflow: scroll; 
    background-color: white; 
    color: black;
    margin-bottom: 15%;
} 

#text-table {
    margin: 0 auto;
}

#text-table td {
    vertical-align: bottom; 
}

#text-table tr :nth-child(2n+1){
    text-align: left; 
    width: 80px;
}

.annotated-word:hover {
    color: blue; 
}

/* bottom navigation things */

#textfootbar {
    z-index: 2; 
    position: absolute;
    bottom: 0;
    left: 0;
    width: 60%; 
    padding-top: 1%;
    padding-bottom: 2%; 
    height: 8%;
    background-color: red; 
}

#text-navigation {
    width: 100%; 
    text-align: center; 
    vertical-align: middle; 
} 

#smallnuminput {
    width: 50px;
}


/* annotation bar */

#annotations-container {
    z-index: 1;
    color: white; 
    position: absolute; 
    top: 0;
    right: 0; 
    height: 100%; 
    width: 35%;
    overflow: scroll; 
    background-color: blue; 
    color: black;
    padding: 2%;
    padding-bottom: 50px;
} 

.detail-card {
    z-index: 3;
    background-color: white;
    color: black;
    font-size: 20px;
    width: 90%; 
    margin: 0 auto;
    margin-top: 15px;
    margin-bottom: 15px; 
    padding-left: 15px; 
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px; 
    font-family: 'Futura'; 
}

.detail-user {
    color: red;
    font-size: 10px;
    margin-top: 0;
    margin-bottom: 0;
}

.detail-content {
    color: black;
    font-family: times; 
    font-size: 20px;
    margin-top: 0;
    margin-bottom: 0;
}

#comment-form-card {
    z-index: 3;
    background-color: white;
    color: black;
    font-size: 20px;
    width: 90%; 
    margin: 0 auto;
    margin-top: 15px;
    margin-bottom: 15px; 
    padding-left: 15px; 
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px; 
    font-family: 'Futura'; 
    text-align: center; 
}

#comment-form-card p {
    margin: 0; 
}

#saved-indicator-card {
    z-index: 3;
    background-color: white;
    color: black;
    font-size: 40px;
    width: 90%; 
    margin: 0 auto;
    margin-top: 15px;
    margin-bottom: 15px; 
    padding-left: 15px; 
    padding-right: 15px;
    padding-top: 5px; 
    padding-bottom: 10px; 
    font-size: 12px;
    font-family: 'Futura'; 
    text-align: center; 
}

#saved-indicator-table {
    width: 70%;
    margin: 0 auto;
    text-align: middle; 
}

#input-new-comment-content {
    width: 95%; 
    height: 50px;
}

#edit-delete-table {
    width: 30%; 
    margin-left: 70%; 
    text-align: center; 
}

.delete-comment-button {
    font-size: 9px;
}

.edit-comment-button {
    font-size: 10px;
}

#change-saved-status {
    font-size: 10px;
}

#error-p {
    font-size: 15px;
    color: red;
}

#savedwords-display-settings {
    left: 0; 
    height: 15%; 
    width: 58%; 
    padding: 2%;
    position: absolute;
    top: 0; 
    background-color: white; 
    text-align: center; 
}

#savedwords-display {
    z-index: 1;
    color: white; 
    position: absolute; 
    top: 15%; 
    left: 0; 
    height: 90%; 
    width: 58%;
    overflow: scroll; 
    background-color: yellow; 
    color: black;
    padding: 2%;
}

/* #savedwords-detail {
    z-index: 1;
    color: white; 
    position: absolute; 
    top: 0;
    right: 0; 
    height: 100%; 
    width: 38%;
    overflow: scroll; 
    background-color: yellow; 
    color: black;
    padding: 2%;
} */

#words-card {
    margin: 0 auto;
    width: 50%; 
    background-color: white; 
    padding: 2%; 
    margin-top: 2%; 
    margin-bottom: 10%; 
} 

#go-to-click-bar {
    background-color: white;
    width: 80%; 
    height: 10px;
    margin: 10px auto;
}

#annotations-display {
    z-index: 1;
    background-color: white; 
    position: absolute; 
    top: 0; 
    left: 0; 
    height: 100%; 
    width: 58%;
    overflow: scroll; 
    color: black;
    padding: 2%;
}

.annotation-info-card {
    z-index: 3; 
    background-color: white;
    color: black;
    font-size: 17px;
    width: 80%; 
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px; 
    padding-left: 15px; 
}

.annotation-info-table {
    width: 100%; 
    text-align: center; 
    margin: 0 auto; 
}

.annotation-info-table td {
    width: 50%; 
}

.annotation-word-info {
    font-family: 'Futura'; 
    color: red; 
}

.annotation-content-info {
    margin: 0;
    font-family: 'Times'; 
}

#delete-annotation-card {
    z-index: 3;
    background-color: white;
    color: black;
    font-size: 20px;
    width: 90%; 
    margin: 0 auto;
    margin-top: 15px;
    margin-bottom: 15px; 
    padding-left: 15px; 
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px; 
    text-align: center; 
}